body{ 
	text-align: center; 
	background: #33cccc; 
	font-family: sans-serif; 
	font-weight: 100;} 
h1{ 
	color: #000000; 
	font-weight: 100; 
	font-size: 40px; 
	margin: 40px 0px 20px; 
	} 
#clockdiv{ 
	font-family: sans-serif; 
	color: #fff; 
	display: inline-block; 
	font-weight: 100; 
	text-align: center; 
	font-size: 100px; 
	} 
#clockdiv > div{ 
	padding: 10px; 
	border-radius: 3px; 
	background: #0099cc; 
	display: inline-block; 
	} 
#clockdiv div > span{ 
	padding: 15px; 
	border-radius: 3px; 
	background: #006699; 
	display: inline-block; 
	} 
smalltext{ 
	padding-top: 5px; 
	font-size: 16px; 
	}
header {
	font-size: 70px;
	}
a {
	font-size: 30px;
	text-decoration: none;
	color: #ffffff;
	}
a:hover {
	background-color: #006699;
	}	